<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!--/*/ <th:block th:insert="~{fragments/head :: head}"></th:block> /*/-->
<title>Task Buddy</title>
</head>

<body>
	<header>
		<!--/*/ <th:block th:insert="~{fragments/header :: header('about')}"></th:block> /*/-->
	</header>

	<main class="container">
		<h1 class="display-4">Task Buddy</h1>
		<p class="lead">Application for managing tasks for a team or a
			small company</p>

		<hr class="my-4">
		<p>Built with:</p>
		<ul>
			<li>Spring Boot</li>
			<li>Spring Security</li>
			<li>MySQL database</li>
			<li>Maven</li>
			<li>Thymeleaf</li>
			<li>Bootstrap</li>
			<li>jQuery</li>
			<li>CSS</li>
			<li>HTML</li>

		</ul>

	</main>

	<footer class="footer">
		<!--/*/ <th:block th:insert="~{fragments/footer :: footer}"></th:block> /*/-->
	</footer>

</body>
</html>