<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!--/*/ <th:block th:insert="~{fragments/head :: head}"></th:block> /*/-->
<title>Edit Task</title>
</head>

<body>

	<header>
		<!--/*/ <th:block th:insert="~{fragments/header :: header('task-category')}"></th:block> /*/-->
	</header>

	<main class="container">
		<div class="card mb-3">

			<h1 class="my-highest-header card-header">Edit Category</h1>

			<div class="card card-body">

				<form th:action="@{'/category/edit/'+ ${category.id}}" th:object="${category}"
					method="post">
					<input type="hidden" th:field="*{id}" />

					<!--name-->
					<div class="form-group">
						<label for="name" class="form-control-label">Category name</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-pen"></i></span>
							</div>
							<input type="text" class="form-control" th:field="*{name}"
								id="name" />
						</div>
						<div class="text text-danger" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}"></div>
					</div>


					<!--description-->
					<div class="form-group">
						<label for="description" class="form-control-label">Task
							description</label>
						<textarea class="form-control" th:field="*{description}"
							id="description">  </textarea>
						<div class="text text-danger"
							th:if="${#fields.hasErrors('description')}"
							th:errors="*{description}"></div>
					</div>

					<input type="submit" value="Submit" class="btn btn-primary" />
					<button type="reset"
						class="btn btn-outline-primary pull-right ml-3">Reset</button>
					<a href="/category/list" type="reset"
						class="btn btn-outline-primary pull-right ml-3">Cancel</a>
				</form>
			</div>
		</div>
	</main>


	<footer class="footer">
		<!--/*/ <th:block th:insert="~{fragments/footer :: footer}"></th:block> /*/-->
	</footer>

</body>
</html>