<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Reset Password Form</title>
<!--/*/ <th:block th:insert="~{fragments/head :: head}"></th:block> /*/-->

</head>
<body>
	<!-- <header> -->
	<!--/*/ <th:block th:insert="~{fragments/header :: header('tasks-list')}"></th:block> /*/-->
	<!-- </header>
 -->
	<main class="container">
		<div class=" container text-center">

			<div class="text-center">
				<h2>Reset Your Password</h2>
			</div>
			<form th:action="@{/reset_password}" method="post"
				style="max-width: 400px; margin: 0 auto;">
				<input type="hidden" name="token" th:value="${token}" />
				<div class="border border-secondary rounded p-3">
					<div>
						<p>
							<input type="password" name="password" id="password"
								class="form-control" placeholder="Enter new Password" required
								autofocus />
						</p>
						<p class=text-center>
							<input type="submit" value="Change Password"
								class="btn btn-primary" />
						</p>
					</div>
				</div>
			</form>
		</div>
	</main>
</body>
</html>