<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!--/*/ <th:block th:insert="~{fragments/head :: head}"></th:block> /*/-->
<title>Register - Success</title>
</head>

<body>

	<header>
		<!--/*/ <th:block th:insert="~{fragments/header :: header('register')}"></th:block> /*/-->
	</header>
    <div class="container text-center">
        <h3>User Verification Failed !</h3>
        <p> User needs to signup with new information </p>
    </div>
     
</body>
</html>